<body style="background-color:powderblue;">

  <h1>Фрактали</h1>
  <div>
    <h2>У природи</h2>
    <div>
      <p>",, У очима ума, фрактал је начин да видимо бесконачност“
                       -Џејмс Глик, Хаос"</p>
      <p>"Life is an unfoldment, and the further we travel the more truth we can comprehend. To understand the things that are at our door is the best preparation for understanding those that lie beyond."</p>
      <%= image_tag("norway_coast.jpg") %>
      <%= image_tag("gorucibrod.jpg") %>
    </div>
    <h2>HTML</h2>
      <a href="https://railsgirls206265.herokuapp.com/ideas">Visit Ideas</a>
      <a href="http://www.w3schools.com/html/">Visit HTML tutorial</a>
    <h2>Find me</h2>
      <a href="https://github.com/iris999">Github</a>
      <a href="mailto:irina_ana@live.com">Send me an email</a>
  </div>
</body>
